<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="thumbnail card">
      <%= image_tag @lesson_detail.topic.picture.url %>
      <div class="title">
        <h3 class="hidden-xs"><%= @lesson_detail.topic.title %></h3>
        <h5 class="visible-xs"><%= @lesson_detail.topic.title %></h5>
      </div>
      <div class="caption">
        <%= @lesson_detail.lesson_date.strftime("%A, %d %B") %> - <%= @lesson_detail.lesson_date.strftime("%H:%M") %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <p>Country: <%= @lesson_detail.country %></p>
    <p>City: <%= @lesson_detail.city %></p>
    <p>Address: <%= @lesson_detail.address %></p>
    <p>Availability: <%= Random.new.rand(5..9) %>/12 </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <p> <%=	@lesson_detail.topic.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <% if current_user.subscribed?(@lesson_detail) %>
      <%= content_tag :div, class: "alert alert-info" do %>
        <%= form_for(current_user.user_lessons.find_by(lesson_id: @lesson_detail.id), html: { method: :delete }) do |f| %>
                You are subscribed to this lesson.
            <%= f.submit "Unsubscribe", class: "btn btn-danger" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_for(current_user.user_lessons.build) do |f| %>
        <div><%= hidden_field_tag :lesson_id, @lesson_detail.id %></div>
        <%= f.submit "Subscribe", class: "form-btn" %>
      <% end %>
    <% end %>
  </div>
</div>
