<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Create Topic</h1>

    <%= form_for @topic do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :title, id: 'title', class: 'form', required: 'required', placeholder: 'Topic title' %>

        <%= f.select :category, [['Sport', 'Sport'], ['Dance and Music', 'Dance and Music']], id: 'category', required: 'required' %>

        <%= f.label :excerpt, "140", id: :excerpt  %>
        <%= f.text_area :excerpt, id: 'excerpt', class: 'form', onkeyup: 'countChar(this, 140)', required: 'required', placeholder: 'Brief summary (max 140 char)' %>

        <%= f.label :description, "500", id: :description  %>
        <%= f.text_area :description, id: 'description', class: 'form', onkeyup: 'countChar(this, 500)', required: 'required', placeholder: 'Long description (max 500 char)' %>

        <%= f.file_field :picture, class: "form", accept: 'image/jpeg,image/gif,image/png'  %>

        <%= f.submit "Add", class: "form-btn" %>
    <% end %>

    <hr>
    <%= button_to "Back", @topic, method: :get, class: 'form-btn blue' %>

  </div>
</div>
