<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Create Topic</h1>

    <%= form_for @topic do |f| %>

        <%= f.text_field :title, id: 'title', class: 'form', required: 'required', placeholder: 'Topic title' %>

        <div id="charNum">140</div>
        <%= f.text_area :excerpt, id: 'excerpt', class: 'form', onkeyup: 'countChar(this)', required: 'required', placeholder: 'Brief summary (max 140 char)' %>

        <%= f.text_area :description, id: 'description', class: 'form', required: 'required', placeholder: 'Long description' %>

        <%= f.file_field :picture, class: "form", accept: 'image/jpeg,image/gif,image/png'  %>

        <%= f.submit "Add", class: "form-btn" %>
    <% end %>

    <hr>
    <%= button_to "Back", @topic, method: :get, class: 'form-btn blue' %>

  </div>
</div>
