<!-- Sidebar -->
<div id="slidebar-white" class="slidebar-nav">
  <nav id="navbar-white" class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">

      <li><%= link_to('<i class="glyphicon glyphicon-map-marker"></i> Locations'.html_safe, '#', id: 'slide-btn') %></li>
      <li><%= link_to('<i class="glyphicon glyphicon-tags"></i> Categories'.html_safe, '#', id: 'slide-btn') %></li>
      <li><%= link_to('<i class="glyphicon glyphicon-th-large"></i> All Lessons'.html_safe, root_path, id: 'slide-btn') %></li>

      <li class="dropdown bottom-padding">
        <a href="#" class="dropdown-toggle" id="slide-btn" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> User menu <b class="caret"></b></a>
        <ul class="dropdown-menu">

          <% if current_user %>
             <li><%= link_to('<i class="glyphicon glyphicon-plus"></i> Create new topic'.html_safe, new_topic_path, class: 'dropmenu-item-btn') %></li>

            <% if current_user.topics.count != 0 %>
              <li><%= link_to('<i class="glyphicon glyphicon-th-large"></i> My topics'.html_safe, topics_path, class: 'dropmenu-item-btn') %></li>
            <% end %>

          <% else %>
            <li><%= link_to '<i class="glyphicon glyphicon-log-in"></i> Log In'.html_safe, new_user_session_path, class: 'dropmenu-item-btn' %></li>
          <% end %>
        </ul>
      </li>

    </ul>
  </nav><!--/.navbar -->
</div><!--/.sidebar-nav -->

<script>$("#menu-toggle").click(function(e){e.preventDefault();$("#wrapper").toggleClass("toggled");});</script>